{% extends "base.html" %}
{% block title %}{{ block.super }} alert{% endblock %}
{% block content %}
<a href="{% url 'register' %}">登録する</a>
<div class ="works">
  <table>
  <tr>
  <th>content</th>
  <th>date</th>
  <th>interval</th>
  <th>day</th>
  </tr>
  {% for item in work %}
  <tr>
  　<td>{{ item.content　}}</td>
　　{% if item.date == 0 %}
    <td>指定なし</td>
    {% else %}
    <td>毎月{{ item.date }}日</td>
    {% endif %}
    {% if item.interval == 0 %}
    <td>指定なし</td>
    {% else %}
    <td>{{ item.interval }}日間隔</td>
　　 {% endif %}
    {% if item.day == 7 %}
    <td>指定なし</td>
    {% else %}
    <td>{{ item.get_day_display }}</td>
    {% endif %}
    <td><a href="{% url 'delete' item.id %}">削除</a></td>
    </tr>
    {% endfor %}
  <table>
</div>
{% endblock %}