{% extends "base.html" %}
{% block content%}
{% load widget_tweaks %}
    <h1>新規登録フォーム</h1>
    <form action="" method="POST">
        {% csrf_token %}
        {% for field in form %}
  <div class="form-group">
    {{ field.label_tag }}

    {% if form.is_bound %}
      {% if field.errors %}
        {% render_field field class="form-control is-invalid" %}
        {% for error in field.errors %}
          <div class="invalid-feedback">
            {{ error }}
          </div>
        {% endfor %}
      {% else %}
        {% render_field field class="form-control is-valid" %}
      {% endif %}
    {% else %}
      {% render_field field class="form-control" %}
    {% endif %}

    {% if field.help_text %}
      <small style="color:red;">
        {{ field.help_text }}
      </small>
    {% endif %}
  </div>
{% endfor %}
        <button type="submit", class ="btn">作成</button>
    </form>
    <a href="{% url 'index' %}">(既に登録済みの場合)ログイン画面へ</a>
{% endblock %}