{% extends "base.html" %}
{% block title %}{{ block.super }} index{% endblock %}
{% block content %}
{% load tags %}
<h1>ようこそ{{ user.username }}さん</h1>
<h2>{{this_year}}年{{this_month}}月の予定表</h2>
{% comment %} カレンダーの表示 {% endcomment %}
<table class ="table table-bordered">
<tr>
<th>月</th>
<th>火</th>
<th>水</th>
<th>木</th>
<th>金</th>
<th>土</th>
<th>日</th>
</tr>

<tr>

    {% for item in cal %}
        {% if item.month != this_month %}
        <td></td>
        {% else %} 
            {% if item.weekday == 6 %}
                {% if item.day == this_day %}
                    <td style = "color:red;">{{item.day}}日
                {% else %}
                    <td>{{item.day}}日
                {% endif %}
            <p>本日の習慣</p>
        
                {% for wk in work %}
                    {% if item.weekday == wk.day %}
                    <p>{{wk.content}}</p>
                    {% elif item.day == wk.date %}
                    <p>{{wk.content}}</p>
                    {% elif item|delta:wk.created_at|modulo:wk.interval %}
                    <p>{{wk.content}}</p>
                    {% endif %}
                {% endfor %}
            
                </td></tr><tr>
            {% else %}
                {% if item.day == this_day %}
                    <td style = "color:red;">{{item.day}}日
                {% else %}
                    <td>{{item.day}}日
                {% endif %}
            <p>本日の習慣</p>
                {% for wk in work %}
                    {% if item.weekday == wk.day %}
                    <p>{{wk.content}}</p>
                    {% elif item.day == wk.date %}
                    <p>{{wk.content}}</p>
                    {% comment %} 登録日からの経過日数がintervalの倍数の時 {% endcomment %}
                    {% elif item|delta:wk.created_at|modulo:wk.interval %}
                    <p>{{wk.content}}</p>
                    {% endif %}
                {% endfor %}
                
                </td>
            {% endif %}
        {% endif %}
    {% endfor %}

</tr>
</table>
{% endblock %}