{% extends "base.html" %}
{% block title %}{{ block.super }} alert{% endblock %}
{% block content %}
<a href="{% url 'meals_page' %}">登録する</a>
<a href="{% url 'index' %}">戻る</a>
<h4>{{ userinfo.age }}歳{{ userinfo.get_gender_display }}の場合</h4>
<div class ="meals">
  <table class ="table table-striped">
  {% if meal == None %}
  <p>登録された食事データはありません</p>
  {% else %}
  <p>※100gあたりのデータです</p>
  <tr class ="thead-dark">
  <th>食事内容</th>
  <th>カロリー(kcal)</th>
  <th>タンパク質(g)</th>
  <th>脂質(g)</th>
  <th>食物繊維(g)</th>
  <th>炭水化物(g)</th>
  <th>食塩相当量(ナトリウム)(g)</th>
  <th>カリウム(mg)</th>
  <th>カルシウム(mg)</th>
  <th>ビタミンA(μg)</th>
  <th>ビタミンC(mg)</th>
  <th>ビタミンE(mg)</th>
  <th>ビタミンK(μg)</th>
  <th>ビタミンD(μg)</th>
  <th>摂取量(g)</th>
  <th></th>
  <th></th>
  </tr>
  {% endif %}
  {% for item in meal %}
    <tr>
    <td>{{ item.food_name }}</td>
    <td>{{ item.calorie }}</td>
    <td>{{ item.protein }}</td>
    <td>{{ item.fat }}</td>
    <td>{{ item.dietary_fiber }}</td>
    <td>{{ item.carbohydrate }}</td>
    <td>{{ item.salt }}</td>
    <td>{{ item.potassium }}</td>
    <td>{{ item.calcium }}</td>
    <td>{{ item.vitamin_a }}</td>
    <td>{{ item.vitamin_c }}</td>
    <td>{{ item.vitamin_e }}</td>
    <td>{{ item.vitamin_k }}</td>
    <td>{{ item.vitamin_d }}</td>
    
    <td>{{ item.weight }}</td>
    <td><a href="{% url 'weight' item.id %}">重さ編集</a>
    {% if form and item.id == mealinfo.id %}
    <form method="POST">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit">送信</button>
    </form>
    {% endif %}
    </td>
    <td><a href="{% url 'deletemeal' item.id %}">削除</a></td>
    </tr>
   {% endfor %}
 
  <table>
</div>
<a href="{% url 'userinfo' %}">年齢、性別登録</a>
<canvas id="radar-chart" height="70px"></canvas>
<script type="text/javascript">

/* idが"radar-chart"の要素を取得 */
var ctx = document.getElementById("radar-chart");
const mealdata = JSON.parse('{{ mealdata|safe }}');
/* 上記要素にチャートを描画*/
var myRadarChart = new Chart(ctx, {
    type: 'radar',
    data: {
        labels: [
        'タンパク質(x10g)',
        '脂質(x10g)',
        '食物繊維(x3g)',
        '炭水化物(x100g)',
        '食塩相当量(g)',
        'カリウム(x500mg)',
        'カルシウム(x100mg)',
        'ビタミンA(x300μg)',
        'ビタミンC(x10mg)',
        'ビタミンE(mg)',
        'ビタミンK(x30μg)',
        'ビタミンD(μg)',
        ],
        datasets: mealdata},
});
</script>
{% endblock %}